---
title: API Reference
---

<%= partial "layouts/title" %>

<div class="row">
  
  <div class="col-lg-2">
    <ul class="nav nav-stacked nav-pills">
      <li class="active"><a href="#">Program</a></li>
      <li><a href="#">Characters</a></li>
    </ul>
  </div>
  
  
  <div class="col-lg-10">
    
    <!-- Program -->
    <div class="row">
      <div class="col-lg-12">
        <a name="program">
        <h2>Program</h2>
      </div>
    </div>
    
    
    <!-- Characters -->
    <div class="row">
      <div class="col-lg-12">
        <a name="characters">
        <h2>Characters</h2>
      </div>
    </div>
    
    
    <!-- Acts & Scenes -->
    <div class="row">
      <div class="col-lg-12">
        <a name="acts_and_scenes">
        <h2>Acts &amp; Scenes</h2>
        
        <div class="row">
          <div class="col-lg-12">
            <a name="act">
            <h4>Act</h4>
        
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-12">
            <a name="scene">
            <h4>Scene</h4>
        
          </div>
        </div>
        
      </div>
    </div>
    
    
    <!-- Stage -->
    <div class="row">
      <div class="col-lg-12">
        <a name="stage">
        <h2>Stage</h2>
      </div>
    </div>
    
    
  </div>
  
</div>
