---
title: Specification
uri: https://dl.dropboxusercontent.com/u/44151/SPL_Informal_Specification-0.1.0.pdf
---

<%= partial "layouts/title" %>

<div class="row">  
  <iframe src=<%= embedded_doc(current_page.data.uri) %> class="col-lg-10" style="height: 700px;" frameborder="0"></iframe>
</div>