<footer class="bs-footer" role="contentinfo">
  <div class="container">

    <p>SPL and Horatio released under the <a href="{{ site.license.url }}" target="_blank">{{ site.license.type }}&nbsp;</a> License. Created by <a href="http://zserver.org/">Miles Zimmerman</a></p>
    
  </div>
</footer>

<!-- "back-to-top" button -->
<a href="#" style="right: 70px;" class="btn back-to-top btn-dark btn-fixed-bottom"> <span class="glyphicon glyphicon-chevron-up"></span> </a>
