---
title: Home
lead: <%= site.lead %> # this is used by the subhead component
---

<!-- Header -->
<div class="bs-docs-section">
  <div class="page-header">
    <h1 id="{{slugify title}}">Shakespeare Programming Language</h1>
  </div>
  <p class="lead">Where the empty vessel makes the loudest sound.</p>
</div>


