---
title: Implementations
---

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Implementations</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-7">
    
    <p>SPLang is implemented in the following list of projects:</p>
    <br>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Author(s)</th>
          <th>Language</th>
        </tr>
      </thead>
      <% data.implementations.each do |i| %>
        <tr>
          <td><%= link_to i.name, i.site %></td>
          <td><%= link_to i.author.name, i.author.site %></td>
          <td><%= i.lang %></td>
        </tr>
      <% end %>
    </table>
    
    <p>Want to be listed here? <a href="https://github.com/mileszim/shakespearelang">Submit a pull request.</a></p>
  </div>
</div>