---
title: Home
---

<div class="row">
  <div class="col-lg-6">
    <h3>Example: Hello</h3>
    <div id="editor"><%= partial "programs/hello" %></div>
  </div>
  <div class="col-lg-6 right-column">
    <div id="console"></div>
    
    <br/>
    <button class="btn btn-primary" id="run_program">> Run</button>
  </div>
</div>